<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Нет доступа</title>
</head>
<body>
    <div id="main">
        <div>
            У Вас нет доступа к данному разделу!
        </div>
    </div>
    <style>
        #main {
            position:fixed;
            left:0;
            top:0;
            width:100%;
            height:100%;
            display:flex;
        }
        #main > div {
            margin:auto;
        }
    </style>
</body>
</html>